* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D0B49F;
}

#logo img {
    height: 60px;
    width: 100px;
    margin: 5px;
    margin-left: 20px;
}

#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before {
    content: "";
    background-color: white;
    height: 100%;
    width: 100%; 
    opacity: 0.4;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

#navbar ul {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
}

#navbar ul li {
    list-style: none;
}

#navbar ul li a {
    color: black;
    text-decoration: none;
    padding: 2px 20px;
    font-size: 20px;
}

#navbar ul li a:hover {
    border-radius: 20px;
    color: black;
    background: white;
}

@media screen and (max-width: 500px) {
    #navbar::before {
        width: 130vw; 
    }
}
@media screen and (max-width: 400px) {
    #navbar::before {
        width: 180vw; 
    }
}
@media screen and (max-width: 282px) {
    #navbar::before {
        width: 250vw; 
    }
}
@media screen and (max-width: 200px) {
    #navbar::before {
        width: 380vw; 
    }
}

.footer{
    background-color:rgb(43, 42, 41);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.logoFooter{
    color: white;
    font-weight: bolder;
    font-size: 45px;
}

.box{
    display: flex;
    justify-content: center;
    width: 55vw;
    gap: 70px;
    margin-bottom: 30px;
    margin-top: 20px;
    text-wrap: nowrap;
}

.lost-item,.found-item{
    text-align: center;
    width: 100%;
    border-bottom: 3px solid rgb(242, 101, 34);
    min-width: 120px;
}

.lost,.found{
    font-size: 30px;
    color:white;
    display: inline;
    border-bottom: 3px solid rgb(242, 101, 34);
    margin-bottom: 20px;
}

.box ul{
    margin-top: 30px;
    margin-bottom: 40px;
}

.box li{
    list-style: none;
    font-size: 20px;
    text-align: center;
    color: white;
    margin-bottom: 8px;
}

.last-line{
    color:white;
    font-size: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 490px) {
    .logo{
        font-size: 35px;
    }
    .lost,.found{
        font-size: 25px;
    }
  }
@media screen and (max-width:900px){
    .box{
        flex-direction: column;
    }
}






